@model PersonCUVM
@{
    ViewData["Title"] = "Detail";
}

<h1>Person Detail</h1>
<hr />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi I'm @Model.Person.FirstName @Model.Person.LastName</h1>
    <p class="lead">And This is My Detail Page</p>
  </div>
</div>