@model PersonCUVM
@{
    ViewData["Title"] = "Update";
}

<h1>Update a Person data</h1>
<hr />
<div>
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <input asp-for="Person.Id" type="hidden"/>

        <partial name="~/Views/Person/Helper/PersonCUViewForm.cshtml" model="Model"/>

        <div class="col-6">
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
                <a asp-action="Index">Go back</a>
            </div>
        </div>
    </form>
</div>


@section Scripts
{
<script>
    var phonesTemplate = $(".phones").find(".template").html();
    $(".phones").find(".template").remove();
    var phoneIndex = 0;

    $("#add_phone").on("click", function() {

        $(phonesTemplate).find(".form-group").each(function() {

            var select = $(this).find("select");
            var input = $(this).find("input");
            var name = "";

            if (select.length > 0) {
                name = $(select).attr("name")
            } else {
                name = $(input).attr("name")
            }
            var ind = name.lastIndexOf('[');
            var index = name.substr(ind + 1, 1);

            if(phoneIndex == 0 && index != 0) {
                phoneIndex = parseInt(index);
            }

            fname = name.substr(0, ind);
            var newName = "[" + phoneIndex + "]";
            var newId = "_" + phoneIndex + "__";
            var regex = new RegExp("_" + index + "__", "gi");
            phonesTemplate = phonesTemplate.replace(regex, newId);
            phonesTemplate = phonesTemplate.replace("[" + index + "]", newName);
            phonesTemplate = phonesTemplate.replace("[" + index + "]", newName);

        });
        phoneIndex += 1;

        $(".phones").append(phonesTemplate);
    });

    $(document).on('click', ".remove-att", function() {
        $(this).closest(".phone-block").remove();
    })
</script>
}